<footer id="footer" class="bg-dark footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-center p-1 p-md-3">
                <a href="#">Info 1</a>
            </div>
            <div class="col-12 col-md text-center p-1 p-md-3">
                <a href="#">Info 2</a>
            </div>
            <div class="col-12 col-md text-center p-1 p-md-3">
                <a href="#">Info 3</a>
            </div>
            <div class="col-12 col-md text-center p-1 p-md-3">
                <a href="#">Info 4</a>
            </div>
            <div class="col-12 col-md text-center p-1 p-md-3">
                <a href="#">Info 5</a>
            </div>
        </div>
    </div>
</footer>