{% extends 'psico_front/generic.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'psico_front/css/index.css' %}">
<link rel="stylesheet" href="{% static 'psico_front/css/section.css' %}">
<link rel="stylesheet" href="{% static 'psico_front/css/form.css' %}">
{% endblock styles %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'psico_front/scripts/section.js' %}"></script>
<script src="{% static 'psico_front/scripts/form.js' %}"></script>
{% endblock scripts %}

{% block general %}
<div class="select_alert" id="select_alert">
    Solo Puedes elegir 2 opciones
</div>
{% include 'psico_front/render_form.html' %}
{% endblock general %}