{% extends 'psico_front/generic.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'psico_front/css/test.css' %}">
{% endblock styles %}
{% block general %}
<main class="container mt-4 pt-4" id="main">
    <div class="row">
        <h1 class="col col-md-6 offset-md-3 text-center">
            Test 1
        </h1>
    </div>
    <article class="row">
        <p class="col col-md-6 offset-md-3 text-center">
            Este Test consta de 10 secciones con tiempo limitado
            <br>
            Cada seccion cuenta con un tiempo propio que se da a conoce cuando inicie
            <br>
            Para evaluar debe haber constetado las 10 secciones
            <br>
            Aquellas preguntas que no se hayan constestado se tomaran como erroneas
        </p>
    </article>
</main>


<section class="d-flex align-items-center justify-content-between" id="cards">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            {% for section in sections %}
                {% include 'psico_front/render_test_card.html' with data=section %}
            {% endfor %}
        </div>
    </div>
</section>


{% endblock general %}