#cards {
    position: relative;
    width: 100%;
    height: 85vh;
}

#cards .card {
    background: #0008;
    height: 100%;
}
#cards .card-body,
#cards .card-title,
#cards .card-text {
    background: #0000;
    color: #fff;
}